<a href="https://colab.research.google.com/github/suminkkk/DA_STUDY/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%20%ED%95%B8%EB%93%A4%EB%A7%81/02_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Pandas

- 데이터 자체를 분석, 파악
- 표
- 데이터 다루는 데 초점
- 정렬, 필터링, 그룹화, 집계

- 데이터 로딩 및 저장
- 데이터 인덱싱 및 슬라이싱
- 결측치 처리
- 데이터 변환 
- 데이터 집계 및 그룹화 
---
- 시계열 데이터 처리
- 데이터 시각화

## 1. Series(시리즈)
- 인덱스를 지정할 수 있음
- 리스트, 딕셔너리, 스칼라

In [ ]:
import pandas as pd

In [ ]:
#list 

s = pd.Series([1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#dictionary

s2 = pd.Series({'a':1, 'b':2, 'c':3, 'd':4})
print(s2)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#scalar

s3 = pd.Series(5, index=[0,1,2])
print(s3)

0    5
1    5
2    5
dtype: int64

In [ ]:
data = pd.Series([1,2,3,4,5])
index = ['a','b','c','d','e']
series = pd.Series(data, index=index)
print(series)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [ ]:
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 슬라이싱

In [ ]:
data = [1,2,3,4,5]

series = pd.Series(data)

In [ ]:
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
series[0:3]
series[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
series[:-1]

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
series[::-1]

4    5
3    4
2    3
1    2
0    1
dtype: int64

### Boolean indexing

In [ ]:
print(series>2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
# a[a조건]

print(series[series > 2])

2    3
3    4
4    5
dtype: int64

In [ ]:
print(series[series <5])

0    1
1    2
2    3
3    4
dtype: int64

### Series 산술연산

In [ ]:
print("=============== 더하기")
print( series + 100 )
print("=============== 빼기")
print( series - 100 )
print("=============== 곱하기")
print( series * 100 )
print("=============== ^")
print( series ** 100 )
print("=============== 나누기(float)")
print( series / 100 )
print("=============== 나누기(int)")
print( series // 100 )
print("=============== 나머지")
print( series % 100 )

=============== 더하기
0    101
1    102
2    103
3    104
4    105
dtype: int64
=============== 빼기
0   -99
1   -98
2   -97
3   -96
4   -95
dtype: int64
=============== 곱하기
0    100
1    200
2    300
3    400
4    500
dtype: int64
=============== ^
0                      1
1                      0
2   -2984622845537545263
3                      0
4   -3842938066129721103
dtype: int64
=============== 나누기
0    0.01
1    0.02
2    0.03
3    0.04
4    0.05
dtype: float64
=============== 몫
0    0
1    0
2    0
3    0
4    0
dtype: int64
=============== 나머지
0    1
1    2
2    3
3    4
4    5
dtype: int64

### Series 객체에 접근
- keys -> index
- value

In [ ]:
print(series.keys)

<bound method Series.keys of 0    1
1    2
2    3
3    4
4    5
dtype: int64>

In [ ]:
print(series.values)

[1 2 3 4 5]

In [ ]:
print(series.keys())
print(series.index)

RangeIndex(start=0, stop=5, step=1)
RangeIndex(start=0, stop=5, step=1)

In [ ]:
#딕셔너리

s2 = pd.Series({'a':1, 'b':2, 'c':3, 'd':4})
print(s2.keys)
print("=====method")
print(s2.keys())

<bound method Series.keys of a    1
b    2
c    3
d    4
dtype: int64>
=====method
Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
print(s2)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# items
# zip object - 순회가능. 쌍으로 이루어짐. 

print(s2.items())

<zip object at 0x7f4dc3f43780>

In [ ]:
for index, value in s2.items():
    print(f'인덱스: {index}, 데이터:{value}')

인덱스: a, 데이터:1
인덱스: b, 데이터:2
인덱스: c, 데이터:3
인덱스: d, 데이터:4

In [ ]:
s = pd.Series([10,20,30,40], index = ['a','b','c','d'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
 # loc : 행에 접근 ('문자')

print(s.loc['b'])          
print(s.loc['b':'d'])

20
b    20
c    30
d    40
dtype: int64

In [ ]:
# iloc :열 접근

print(s.iloc[1])

20

In [ ]:
print(s.iloc[1:3])

b    20
c    30
dtype: int64

In [ ]:
print(s.iloc[-1])

40

In [ ]:
data2 = [1,2,3,4,5]

series2 = pd.Series(data2)

print(series2)
print(series2.iloc[1:3])
print(series2.loc[1:3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    2
2    3
dtype: int64
1    2
2    3
3    4
dtype: int64

In [ ]:
# at  : 인덱스 지정. 하나의 값만 가져올때

print(s.at['a'])

10

In [ ]:
# iat

print(s.iat[0])

10

In [ ]:
# get
# error 나지않고 없다는 걸 알려줌
print(s.get('e', default = -1))

-1

### 결측값 (NaN, None) 
- isna()
- isnull()

 Nan (Not a Number) -> float 
 None  -> none

In [ ]:
data = [1,2,3,None]
print(data)

[1, 2, 3, None]

In [ ]:
# isna(), isnull()

s = pd.Series(data)
print(s.isna())
print(s.isnull())
print(s.isnull().sum())

0    False
1    False
2    False
3     True
dtype: bool
0    False
1    False
2    False
3     True
dtype: bool
1

In [ ]:
print(s.notnull().sum())

3

In [ ]:
# dropna : 결측지 제거

s.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64

In [ ]:
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
# fillna : 결측지 0치환

s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
dtype: float64

### series 함수

In [ ]:
s = pd.Series([1,3,5,7,9])

In [ ]:
# count : 원소의 수 

s.count()

5

In [ ]:
# min : 최소값
s.min()

1

In [ ]:
# max : 최대값
s.max()

9

In [ ]:
# mean /median /std /var

print(s.mean())
print(s.median())
print(s.std())
print(s.var())

5.0
5.0
3.1622776601683795
10.0

In [ ]:
# describe : 기초통계내용

s.describe()

count    5.000000
mean     5.000000
std      3.162278
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

## DataFrame 데이터 프레임

- 2차원 배열
- 표, 테이블 형태

In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame ({'연차':[1,2,3],
                   '연도':[2015,2016,2017],
                   '매출':[10000,2000,3000]})
print(df)

   연차    연도     매출
0   1  2015  10000
1   2  2016   2000
2   3  2017   3000

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df.set_index('연도', inplace=True)
df

      연차     매출
연도
2015   1  10000
2016   2   2000
2017   3   3000

### DataFrame의 Column(열)

In [11]:
df['매출']

연도
2015    10000
2016     2000
2017     3000
Name: 매출, dtype: int64

In [14]:
df.columns

Index(['연차', '매출'], dtype='object')

### DataFrame의 Data

In [15]:
# 데이터 조회
# loc  행->레이블 가져옴

df.loc[2016]

연차       2
매출    2000
Name: 2016, dtype: int64

In [20]:
df.loc[2016:2017]

      연차    매출
연도
2016   2  2000
2017   3  3000

In [21]:
df.loc[2016,'매출']

2000

In [22]:
# iloc

df.iloc[1]

연차       2
매출    2000
Name: 2016, dtype: int64

In [24]:
df.iloc[1:3]

      연차    매출
연도
2016   2  2000
2017   3  3000

In [25]:
df.iloc[1:]

      연차    매출
연도
2016   2  2000
2017   3  3000

## 데이터 불러오고 살펴보기

- read_csv() : 데이터 불러옴
- head() : 상위 값 확인
- tail() : 하위 값 확인
- describe() : 기초 통계 내용
- index: 어떤 인덱스로 되어있는 지 
- info() : col값, null 값 있는지, 데이터 타입(컬럼별)

In [27]:
data = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [28]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [29]:
# 5개 상위 데이터
# head()

data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [30]:
# 하위 5개 
# tail()

data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [31]:
data.index

RangeIndex(start=0, stop=3000, step=1)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

### 데이터 기초 통계 직접 적용해보기

- 데이터 타입 변환 
- 통계함수 적용

In [44]:
data.astype({'households': 'int', 'population': 'int', 'housing_median_age': 'int', 'total_rooms': 'int',
           'total_bedrooms': 'int', 'median_house_value': 'int'})

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700
1,-118.30,34.26,43,1510,310,809,277,3.5990,176500
2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500
3,-118.36,33.82,28,67,15,49,11,6.1359,330000
4,-119.67,36.33,19,1241,244,850,237,2.9375,81700
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23,1450,642,1258,607,1.1790,225000
2996,-118.14,34.06,27,5257,1082,3496,1036,3.3906,237200
2997,-119.70,36.30,10,956,201,693,220,2.2895,62000
2998,-117.12,34.10,40,96,14,46,14,3.2708,162500
2999,-119.63,34.42,42,1765,263,753,260,8.5608,500001

In [49]:
# 평균 mean

total_rooms_mean = data['total_rooms'].mean()
print(total_rooms_mean)

2599.578666666667

In [52]:
# 중앙값 median

total_rooms_median = data['total_rooms'].median()
print(total_rooms_median)

2106.0

In [53]:
# 분산 std

total_rooms_std = data['total_rooms'].std()
print(total_rooms_std)

2155.593331625581

In [55]:
# 판다스는 넘파이로 이루어짐 

type(total_rooms_mean)

numpy.float64

In [56]:
# 원본데이터 바뀌지 않음. 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [57]:
# 원본데이터 변형 - 변수할당 
data_int = data.astype({'households': 'int', 'population': 'int', 'housing_median_age': 'int', 'total_rooms': 'int',
           'total_bedrooms': 'int', 'median_house_value': 'int'})

In [58]:
data_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   int64
 3   total_rooms         3000 non-null   int64
 4   total_bedrooms      3000 non-null   int64
 5   population          3000 non-null   int64
 6   households          3000 non-null   int64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 211.1 KB

In [67]:
# 컬럼 유일 값 
# unique -> 리턴 값 배열 

a = data['longitude'].unique()
print(a)

[-122.05 -118.3  -117.81 -118.36 -119.67 -119.56 -121.43 -120.65 -122.84
 -118.02 -118.24 -119.12 -121.93 -117.03 -117.97 -117.99 -120.81 -121.2
 -118.88 -122.59 -122.15 -121.37 -118.16 -122.2  -117.28 -118.03 -122.42
 -118.39 -118.45 -118.48 -119.35 -121.13 -118.08 -118.32 -118.11 -122.53
 -118.05 -119.01 -119.32 -116.92 -118.06 -117.27 -118.23 -117.24 -121.91
 -118.29 -121.35 -120.99 -119.42 -122.21 -118.17 -117.9  -121.42 -118.77
 -121.82 -122.29 -121.78 -118.41 -121.67 -118.   -117.22 -121.08 -117.53
 -117.46 -121.92 -118.2  -123.79 -120.79 -121.89 -118.43 -118.75 -122.47
 -120.69 -118.28 -118.44 -121.99 -121.02 -119.85 -123.52 -122.4  -118.13
 -122.   -117.5  -122.22 -119.82 -120.21 -120.97 -121.19 -122.23 -121.31
 -117.25 -118.26 -119.39 -121.51 -119.18 -118.18 -122.43 -117.93 -124.16
 -117.95 -116.97 -118.85 -117.73 -122.07 -117.18 -121.96 -121.74 -118.21
 -121.9  -118.19 -120.93 -122.02 -117.19 -118.14 -119.76 -122.34 -122.45
 -122.04 -117.39 -122.25 -117.98 -120.06 -121.47 -117.23 -119.75 -117.92
 -121.64 -117.14 -117.91 -118.38 -122.03 -117.13 -119.77 -117.7  -117.07
 -117.85 -117.76 -121.56 -118.96 -116.96 -118.27 -120.49 -119.09 -121.53
 -119.29 -121.84 -122.24 -121.8  -117.43 -117.3  -117.63 -121.94 -118.07
 -117.   -121.04 -122.12 -119.48 -123.28 -122.89 -118.31 -122.16 -121.61
 -122.1  -122.28 -116.91 -121.83 -117.96 -122.14 -121.44 -122.26 -122.18
 -121.49 -117.86 -118.35 -117.26 -122.58 -119.02 -120.51 -121.65 -121.62
 -117.08 -123.21 -119.61 -114.98 -116.26 -118.4  -120.64 -117.02 -122.31
 -118.86 -118.64 -116.63 -119.03 -117.89 -122.09 -122.94 -117.1  -118.98
 -120.23 -121.3  -120.6  -117.05 -122.08 -117.62 -122.11 -121.26 -116.89
 -122.67 -117.94 -116.36 -117.47 -117.64 -118.5  -117.66 -122.3  -120.96
 -117.84 -119.16 -122.65 -121.88 -121.77 -119.99 -116.81 -121.73 -117.31
 -119.69 -122.69 -118.37 -122.7  -117.67 -121.23 -117.8  -118.47 -117.15
 -120.85 -118.33 -124.15 -121.59 -122.51 -118.25 -119.78 -117.48 -122.35
 -119.71 -117.41 -121.66 -119.34 -121.5  -122.17 -117.2  -121.72 -118.52
 -118.12 -120.67 -118.97 -122.41 -118.22 -118.01 -121.85 -120.47 -121.14
 -116.84 -119.98 -118.1  -120.07 -119.11 -117.72 -121.98 -117.42 -122.85
 -118.04 -118.46 -122.95 -121.86 -119.25 -122.44 -118.99 -118.34 -119.58
 -118.42 -115.9  -122.5  -119.8  -119.74 -121.97 -116.31 -121.45 -122.13
 -117.09 -121.46 -122.06 -117.01 -120.87 -121.79 -117.59 -117.36 -121.52
 -122.27 -122.55 -117.88 -119.57 -117.87 -116.88 -118.58 -121.81 -121.7
 -117.4  -121.55 -117.06 -117.69 -122.66 -121.   -120.89 -120.31 -117.33
 -118.49 -116.19 -119.73 -117.12 -119.84 -121.28 -117.35 -121.32 -119.81
 -118.15 -121.22 -119.72 -118.63 -117.49 -121.33 -118.74 -122.48 -122.56
 -117.83 -121.68 -119.4  -120.12 -122.79 -118.6  -120.01 -121.36 -122.54
 -116.94 -122.6  -118.73 -121.17 -119.19 -116.83 -123.22 -116.57 -117.58
 -121.69 -119.28 -117.65 -117.04 -121.07 -122.52 -122.19 -121.06 -119.47
 -119.27 -124.1  -120.92 -120.35 -123.74 -118.91 -122.32 -119.14 -122.39
 -119.7  -122.68 -119.05 -117.54 -120.91 -120.8  -118.09 -121.38 -117.68
 -122.37 -121.87 -120.18 -121.1  -117.74 -123.41 -120.77 -118.8  -123.85
 -122.75 -120.66 -122.62 -122.49 -121.27 -122.33 -116.   -117.77 -121.01
 -119.62 -120.46 -120.09 -122.63 -117.38 -117.21 -116.99 -121.09 -116.66
 -116.93 -119.33 -119.5  -120.94 -119.46 -120.32 -121.75 -118.53 -120.98
 -123.08 -117.32 -121.18 -119.31 -117.11 -122.01 -118.62 -119.06 -120.73
 -117.82 -122.38 -120.45 -120.54 -121.25 -120.33 -119.   -118.54 -119.88
 -116.95 -119.08 -121.76 -120.04 -117.34 -114.61 -120.05 -119.54 -117.71
 -120.25 -123.11 -121.95 -116.76 -122.57 -119.44 -116.86 -122.71 -119.3
 -120.43 -115.57 -122.46 -116.85 -117.29 -119.63 -119.9  -117.78 -118.51
 -117.75 -121.29 -117.52 -117.56 -117.17 -120.61 -117.16 -119.26 -123.35
 -116.69 -124.17 -122.91 -121.54 -120.56 -120.44 -121.57 -120.02 -122.72
 -119.59 -120.63 -117.6  -120.1  -120.36 -122.64 -120.86 -120.15 -120.42
 -114.55 -116.48 -121.05 -116.52 -118.55 -120.29 -120.7  -118.61 -116.98
 -121.58 -123.8  -116.73 -119.45 -116.71 -120.88 -119.15 -119.23 -116.77
 -123.2  -115.56 -117.37 -120.58 -123.1  -122.86 -120.62 -124.18 -119.22
 -119.95 -116.28 -121.71 -123.39 -121.41 -121.4  -119.89 -117.44 -120.84
 -116.54 -122.73 -119.64 -116.87 -122.36 -124.14 -122.74 -120.68 -120.08
 -123.5  -121.12 -118.93 -122.78 -114.49 -119.55 -116.29 -119.79 -118.65
 -120.83 -120.3  -117.51 -124.09 -116.47 -115.6  -116.43 -118.59 -119.04
 -115.49 -116.14 -118.79 -120.4  -121.6  -124.01 -120.52 -121.48 -117.61
 -121.03 -116.24 -118.95 -121.63 -120.24 -121.15 -123.16 -121.24 -122.87
 -119.2  -120.57 -118.9  -117.57 -121.21 -120.5  -118.68 -116.51 -121.34
 -119.53 -120.48 -116.61 -119.96 -119.38 -123.47 -120.9  -117.79 -120.78
 -122.76 -116.58 -114.62 -123.73 -115.52 -115.59 -116.46 -118.67 -119.6
 -119.97 -121.39 -123.92 -120.59 -120.27 -119.24 -120.19 -118.57 -116.37
 -118.7  -123.02 -120.71 -119.86]

In [63]:
print(type(a))

<class 'numpy.ndarray'>

In [68]:
# 속성의 갯수 카운트
# value_counts

data['longitude'].value_counts()

-118.21    26
-118.26    26
-118.29    25
-118.28    25
-118.27    25
           ..
-120.33     1
-119.00     1
-119.08     1
-114.61     1
-119.86     1
Name: longitude, Length: 607, dtype: int64

In [69]:
data['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

### group by 

- 데이터 그룹별로 분할


- 1. split : 원본데이터 분할
- 2. apply : 분류된 데이터(그룹별)에 함수 적용
- 3. combine : 함수 적용 된 데이터를 다시 합쳐줌

In [71]:
# group by 


data_int.groupby('total_rooms').mean()

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income,median_house_value
total_rooms,,,,,,,,
6,-116.95,33.86,1.0,2.0,8.0,2.0,1.6250,55000.0
16,-117.12,32.66,52.0,4.0,8.0,3.0,1.1250,60000.0
18,-114.62,33.62,26.0,3.0,5.0,3.0,0.5360,275000.0
19,-121.04,37.67,16.0,19.0,166.0,9.0,0.5360,162500.0
21,-118.06,34.03,36.0,7.0,21.0,9.0,2.3750,175000.0
...,...,...,...,...,...,...,...,...
21988,-117.12,33.49,4.0,4055.0,8824.0,3252.0,3.9963,191100.0
23915,-117.27,33.15,4.0,4135.0,10877.0,3958.0,4.6357,244900.0
24121,-116.36,33.78,6.0,4522.0,4176.0,2221.0,3.3799,239300.0
27870,-121.53,38.48,5.0,5027.0,11935.0,4855.0,4.8811,212200.0
30450,-117.20,33.58,2.0,5033.0,9419.0,3197.0,4.5936,174300.0

In [73]:
import numpy as np

In [77]:
# apply 
# 잘못 적용한 mean - 평균할 대상이 없음.

data_int['total_rooms'].apply(np.mean)

0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64

In [80]:
# mean 의 사용 
data_int.groupby('total_rooms')['total_bedrooms'].mean()

total_rooms
6           2.0
16          4.0
18          3.0
19         19.0
21          7.0
          ...
21988    4055.0
23915    4135.0
24121    4522.0
27870    5027.0
30450    5033.0
Name: total_bedrooms, Length: 2215, dtype: float64

In [81]:
data_int.groupby('total_rooms').mean()

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income,median_house_value
total_rooms,,,,,,,,
6,-116.95,33.86,1.0,2.0,8.0,2.0,1.6250,55000.0
16,-117.12,32.66,52.0,4.0,8.0,3.0,1.1250,60000.0
18,-114.62,33.62,26.0,3.0,5.0,3.0,0.5360,275000.0
19,-121.04,37.67,16.0,19.0,166.0,9.0,0.5360,162500.0
21,-118.06,34.03,36.0,7.0,21.0,9.0,2.3750,175000.0
...,...,...,...,...,...,...,...,...
21988,-117.12,33.49,4.0,4055.0,8824.0,3252.0,3.9963,191100.0
23915,-117.27,33.15,4.0,4135.0,10877.0,3958.0,4.6357,244900.0
24121,-116.36,33.78,6.0,4522.0,4176.0,2221.0,3.3799,239300.0
27870,-121.53,38.48,5.0,5027.0,11935.0,4855.0,4.8811,212200.0
30450,-117.20,33.58,2.0,5033.0,9419.0,3197.0,4.5936,174300.0

In [82]:
df

      연차     매출
연도
2015   1  10000
2016   2   2000
2017   3   3000

In [85]:
df.groupby('연도')['매출'].mean()

연도
2015    10000.0
2016     2000.0
2017     3000.0
Name: 매출, dtype: float64

In [87]:
df = pd.DataFrame ({'연차':[1,2,3],
                   '연도':[2015,2016,2017],
                   '매출':[10000,2000,3000]})
df

   연차    연도     매출
0   1  2015  10000
1   2  2016   2000
2   3  2017   3000

In [88]:
date_df = pd.DataFrame({'Date':['2023-01-01 11:29:00','2023-01-02 11:29:00','2023-01-03 11:29:00']})

In [95]:
df['Date'] = date_df

In [90]:
df

   연차    연도     매출                 Date
0   1  2015  10000  2023-01-01 11:29:00
1   2  2016   2000  2023-01-02 11:29:00
2   3  2017   3000  2023-01-03 11:29:00

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연차      3 non-null      int64
 1   연도      3 non-null      int64
 2   매출      3 non-null      int64
 3   Date    3 non-null      object
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

In [104]:
# to_datetime  - 데이터타입변환
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

In [105]:
df

   연차    연도     매출                Date
0   1  2015  10000 2023-01-01 11:29:00
1   2  2016   2000 2023-01-02 11:29:00
2   3  2017   3000 2023-01-03 11:29:00

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연차      3 non-null      int64
 1   연도      3 non-null      int64
 2   매출      3 non-null      int64
 3   Date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 224.0 bytes

In [99]:
# 년월일

df['Date'].dt.date

0    2023-01-01
1    2023-01-02
2    2023-01-03
Name: Date, dtype: object

In [100]:
# 년도
df['Date'].dt.year

0    2023
1    2023
2    2023
Name: Date, dtype: int64

In [106]:
df['Date'].dt.month

0    1
1    1
2    1
Name: Date, dtype: int64

In [107]:
df['Date'].dt.day

0    1
1    2
2    3
Name: Date, dtype: int64

In [108]:
df['Date'].dt.year

0    2023
1    2023
2    2023
Name: Date, dtype: int64

In [ ]:
# group by 
- 기준 : 범주형 데이터(남과 여, 지역별, 혈액형, 국적, 학년, 반,mbti..)
- 분석할 데이터 : 수치형 데이터

In [144]:
data = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울', '제주', '제주', '부산', '부산', '제주'],
    '연도': [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    '전입신고 수': [10040, 22300, 6000, 12400, 4000, 600, 11100, 45000, 31000],
    '세금': [1004000, 2230000, 600000, 1240000, 400000, 60000, 1110000, 4500000, 3100000]
})
data

   도시    연도  전입신고 수       세금
0  서울  2015   10040  1004000
1  부산  2016   22300  2230000
2  제주  2017    6000   600000
3  서울  2018   12400  1240000
4  제주  2019    4000   400000
5  제주  2020     600    60000
6  부산  2021   11100  1110000
7  부산  2022   45000  4500000
8  제주  2023   31000  3100000

In [145]:
# 전입신고수의 합계

data.groupby('도시')['전입신고 수'].sum()

도시
부산    78400
서울    22440
제주    41600
Name: 전입신고 수, dtype: int64

In [146]:
# 도시별 전입신고 수 평균

data.groupby('도시')['전입신고 수'].mean()

도시
부산    26133.333333
서울    11220.000000
제주    10400.000000
Name: 전입신고 수, dtype: float64

In [147]:
#dataframe 타입

data.groupby(['도시','연도']).mean()

          전입신고 수         세금
도시 연도
부산 2016  22300.0  2230000.0
   2021  11100.0  1110000.0
   2022  45000.0  4500000.0
서울 2015  10040.0  1004000.0
   2018  12400.0  1240000.0
제주 2017   6000.0   600000.0
   2019   4000.0   400000.0
   2020    600.0    60000.0
   2023  31000.0  3100000.0

In [148]:
# 도시 연도별 세금의 합계 
data.groupby(['도시','연도'])['세금'].sum()

도시  연도
부산  2016    2230000
    2021    1110000
    2022    4500000
서울  2015    1004000
    2018    1240000
제주  2017     600000
    2019     400000
    2020      60000
    2023    3100000
Name: 세금, dtype: int64

In [149]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      9 non-null      object
 1   연도      9 non-null      int64
 2   전입신고 수  9 non-null      int64
 3   세금      9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 416.0+ bytes

In [155]:
# 데이터 타입 변경
# todatetme

data['연도'] = pd.to_datetime(data['연도'], format='%Y')
# data['연도'] = pd.to_datetime(data['연도'], format='%Y').dt.year
data

   도시         연도  전입신고 수       세금
0  서울 2015-01-01   10040  1004000
1  부산 2016-01-01   22300  2230000
2  제주 2017-01-01    6000   600000
3  서울 2018-01-01   12400  1240000
4  제주 2019-01-01    4000   400000
5  제주 2020-01-01     600    60000
6  부산 2021-01-01   11100  1110000
7  부산 2022-01-01   45000  4500000
8  제주 2023-01-01   31000  3100000

In [157]:
data['연도'] = data['연도'].dt.year

In [158]:
data

   도시    연도  전입신고 수       세금
0  서울  2015   10040  1004000
1  부산  2016   22300  2230000
2  제주  2017    6000   600000
3  서울  2018   12400  1240000
4  제주  2019    4000   400000
5  제주  2020     600    60000
6  부산  2021   11100  1110000
7  부산  2022   45000  4500000
8  제주  2023   31000  3100000

In [159]:
# 연도 데이터 자체를 타임스탬프로 만들어준다. 

data['연도']

0    2015
1    2016
2    2017
3    2018
4    2019
5    2020
6    2021
7    2022
8    2023
Name: 연도, dtype: int64

In [161]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도시      9 non-null      object
 1   연도      9 non-null      int64
 2   전입신고 수  9 non-null      int64
 3   세금      9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 416.0+ bytes

In [162]:
data

   도시    연도  전입신고 수       세금
0  서울  2015   10040  1004000
1  부산  2016   22300  2230000
2  제주  2017    6000   600000
3  서울  2018   12400  1240000
4  제주  2019    4000   400000
5  제주  2020     600    60000
6  부산  2021   11100  1110000
7  부산  2022   45000  4500000
8  제주  2023   31000  3100000

### 데이터프레임 병합

In [167]:
data = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울'],
    '연도': [2015, 2015, 2011, 2020],
    '전입신고 수': [10040, 22300, 6000, 12400],
    '세금': [1004000, 2230000, 600000, 1240000]
    }, index=['a', 'b', 'c', 'd']
)

data2 = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울'],
    '연도': [2015, 2015, 2011, 2020],
    '전입신고 수': [10040, 22300, 6000, 12400],
    '세금': [1004000, 2230000, 600000, 1240000]},
    index=['e', 'f', 'g', 'h']
    )

In [172]:
data = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울'],
    '연도': [2015, 2015, 2011, 2020],
    '전입신고 수': [10040, 22300, 6000, 12400],
    '세금': [1004000, 2230000, 600000, 1240000]
    }
)

data2 = pd.DataFrame({
    '도시': ['서울', '부산', '제주', '서울'],
    '연도': [2015, 2015, 2011, 2020],
    '전입신고 수': [10040, 22300, 6000, 12400],
    '세금': [1004000, 2230000, 600000, 1240000]}
    )

In [173]:
# 두 개 데이터 병합 
# ignore_index = true : 인덱스 재배열

# concat
# 디폴트 행 axis = 0 

add_data = pd.concat([data,data2], ignore_index=True, axis=1)
add_data

    0     1      2        3   4     5      6        7
0  서울  2015  10040  1004000  서울  2015  10040  1004000
1  부산  2015  22300  2230000  부산  2015  22300  2230000
2  제주  2011   6000   600000  제주  2011   6000   600000
3  서울  2020  12400  1240000  서울  2020  12400  1240000

In [174]:
df1 = pd.DataFrame([['A0', 'A1', 'A2', 'A3'],
                     ['B0', 'B1', 'B2', 'B3'],
                     ['C0', 'C1', 'C2', 'C3'],
                     ['D0', 'D1', 'D2', 'D3']], columns=list('ABCD'))
 
df2 = pd.DataFrame([['A4', 'A5', 'A6', 'A7'],
                     ['B4', 'B5', 'B6', 'B7'],
                     ['C4', 'C5', 'C6', 'C7'],
                     ['D4', 'D5', 'D6', 'D7']], columns=['A', 'B', 'C', 'D'], index=[4, 5, 6, 7])

df3 = pd.DataFrame([['A8', 'A9', 'A10', 'A11'],
                     ['B8', 'B9', 'B10', 'B11'],
                     ['C8', 'C9', 'C10', 'C11'],
                     ['D8', 'D9', 'D10', 'D11']], columns=list('ABCD'), index=[8, 9, 10, 11])

In [175]:
df1

    A   B   C   D
0  A0  A1  A2  A3
1  B0  B1  B2  B3
2  C0  C1  C2  C3
3  D0  D1  D2  D3

In [176]:
df2

    A   B   C   D
4  A4  A5  A6  A7
5  B4  B5  B6  B7
6  C4  C5  C6  C7
7  D4  D5  D6  D7

In [177]:
df3

     A   B    C    D
8   A8  A9  A10  A11
9   B8  B9  B10  B11
10  C8  C9  C10  C11
11  D8  D9  D10  D11

In [178]:
# concat 

pd.concat([df1,df2,df3])

     A   B    C    D
0   A0  A1   A2   A3
1   B0  B1   B2   B3
2   C0  C1   C2   C3
3   D0  D1   D2   D3
4   A4  A5   A6   A7
5   B4  B5   B6   B7
6   C4  C5   C6   C7
7   D4  D5   D6   D7
8   A8  A9  A10  A11
9   B8  B9  B10  B11
10  C8  C9  C10  C11
11  D8  D9  D10  D11

In [180]:
pd.concat([df1, df2, df3],axis = 1, )

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   A1   A2   A3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    B0   B1   B2   B3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    C0   C1   C2   C3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    D0   D1   D2   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   A5   A6   A7  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   B4   B5   B6   B7  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   C4   C5   C6   C7  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   D4   D5   D6   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   A9  A10  A11
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   B8   B9  B10  B11
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   C8   C9  C10  C11
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   D8   D9  D10  D11

In [181]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                  'F': ['F2', 'F3', 'F6', 'F7']}, index=[2, 3, 6, 7])

### Join option

In [183]:
# outer - 모든요소 합집합

pd.concat([df1,df4], axis=1, join='outer')

     A    B    C    D    B    D    F
0   A0   A1   A2   A3  NaN  NaN  NaN
1   B0   B1   B2   B3  NaN  NaN  NaN
2   C0   C1   C2   C3   B2   D2   F2
3   D0   D1   D2   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [184]:
# inner join - 교집합


pd.concat([df1,df4], axis=1, join='inner')

    A   B   C   D   B   D   F
2  C0  C1  C2  C3  B2  D2  F2
3  D0  D1  D2  D3  B3  D3  F3

In [187]:
# 왼쪽 기준 인덱스 조인 (df1의 인덱스) 

pd.concat([df1,df4], axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  A1  A2  A3  NaN  NaN  NaN
1  B0  B1  B2  B3  NaN  NaN  NaN
2  C0  C1  C2  C3   B2   D2   F2
3  D0  D1  D2  D3   B3   D3   F3

In [189]:
# right join (df4의 인덱스)

pd.concat([df1,df4], axis=1).reindex(df4.index)

     A    B    C    D   B   D   F
2   C0   C1   C2   C3  B2  D2  F2
3   D0   D1   D2   D3  B3  D3  F3
6  NaN  NaN  NaN  NaN  B6  D6  F6
7  NaN  NaN  NaN  NaN  B7  D7  F7

In [190]:
# key값이 있어 key값기준으로 조인실행됨.

left = pd.DataFrame({'key': ['K0', 'K4', 'K2', 'K3'],
                  'A': ['A0', 'A4', 'A2', 'A3'],
            'B': ['B0', 'B4', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                  'C': ['C0', 'C1', 'C2', 'C3'],
                  'D': ['D0', 'D1', 'D2', 'D3']})

In [191]:
print(left)
print(right)

  key   A   B
0  K0  A0  B0
1  K4  A4  B4
2  K2  A2  B2
3  K3  A3  B3
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [192]:
# merge  - inner조인

mi = pd.merge(left, right)
mi

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [193]:
# outer 

mo = pd.merge(left,right, how='outer')
mo

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A4   B4  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [194]:
m_key = pd.merge(left, right, on='key')
m_key

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [195]:
m_l = pd.merge(left,right,on='key',how='left')
m_l

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A4  B4  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [197]:
m_r = pd.merge(left,right,on='key',how='right')
m_r

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3