<a href="https://colab.research.google.com/github/suminkkk/DA_STUDY/blob/main/Python/VOD_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 사용자 입력값 형변환 str -> int

food = int(input("음식가격:"))
food2 = int(input("음료가격:"))
bill = food +food2
print(bill)

음식가격:10000
음료가격:299
10299

In [ ]:
#사칙연산

월세 = int(input("월세 입력:"))
관리비 = int(input("관리비:"))

print(월세 + 관리비)
print(월세 - 관리비)
print(월세 * 관리비)
print(월세 / 관리비)

월세 입력:30
관리비:3
33
27
90
10.0

In [ ]:
#list 

orders = ["짜장","짬뽕","탕수육"]

print(orders[0:2])

numbers = [10,20,30,40,50]

print(numbers[3:5])

['짜장', '짬뽕']
[40, 50]

In [ ]:
#list append() - 마지막 /insert() - 순서지정

orders.append("냉면")
orders

orders.insert(1,"마파두부")
orders

['짜장', '마파두부', '마파두부', '짬뽕', '탕수육', '냉명', '냉면', '냉면', '냉면', '냉면', '냉면', '냉면']

In [ ]:
# delete / remove()

del orders[1]
print(orders)

['짜장', '마파두부', '짬뽕', '탕수육', '냉명', '냉면', '냉면', '냉면', '냉면', '냉면', '냉면']

In [ ]:
orders.remove("냉면")
orders

['짜장', '마파두부', '짬뽕', '탕수육', '냉명', '냉면']

In [ ]:
# len()
print(orders)
len(orders)

['짜장', '마파두부', '짬뽕', '탕수육', '냉명', '냉면']

6

In [ ]:
name = "안녕하세요 코드라이언 입니다."
print(len(name))

16

In [ ]:
# 숫자 list sum()

num = [20,40,50,10,30]
numList = [2,4,5,6]

print(sum(num))

add = num[0]+num[1]+num[2]+num[3]+num[4]
print(add)

print(sum(num)//len(num))

150
150
30

In [ ]:
# 최대 최소 max() / min()

print(max(num))
print(min(num))

50
10

In [ ]:
#dictionary
print({})

menu = {"짜장":4000, "짬뽕":5000,"탕수육":9000}
menu

family ={"아빠":48,"엄마":43,"나":23}
family

{}

{'아빠': 48, '엄마': 43, '나': 23}

In [ ]:
#딕셔너리 데이터 추가

menu["냉면"] = 40000
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000, '냉면': 40000}

In [ ]:
#딕셔너리 벨류 
print(menu["짜장"])
print(menu["짬뽕"])

4000
5000

In [ ]:
# value 변경

menu["탕수육"] = 4000
menu

{'짜장': 4000, '짬뽕': 5000, '탕수육': 4000, '냉면': 40000}

In [ ]:
# 딕셔너리 삭제

del menu["냉면"]
menu

{'짜장': 4000, '짬뽕': 5000, '탕수육': 4000}

In [ ]:
menu = {"짜장":3000, "짬뽕":4000, "탕수육":9000}
menu["냉면"] = 6000
print(menu["짬뽕"])
menu["탕수육"] = 9999
print(menu)

4000
{'짜장': 3000, '짬뽕': 4000, '탕수육': 9999, '냉면': 6000}

# 관계연산 / if 

```
# 코드로 형식 지정됨
```

In [ ]:
#관계연산
myGrade = int(input("학번입력"))
yourGrade = int(input("학번입력"))

print(myGrade == yourGrade)
print(myGrade != yourGrade)

학번입력10
학번입력30
False
True

In [ ]:
#if

if myGrade == yourGrade:
    print("앗! 동기네요")
elif myGrade > yourGrade:
    print("내가 슨배림")
elif myGrade < yourGrade:
    print(f"{yourGrade}학번 슨배림 반갑습니댜")

30학번 슨배림 반갑습니댜

In [ ]:
orders = ["짜장","짬뽕","탕수육"]
food = input("먹고싶으 메뉴를 입력해주세요:")

if food in orders:
    print("주문가능")
else:
    print("주문불가능")

먹고싶으 메뉴를 입력해주세요:짜장
주문가능

In [ ]:
menu = {"짜장":3000, "짬뽕":4000, "탕수육":9000}
food = input("먹고싶으 메뉴를 입력해주세요:")

if food in menu:
    print(menu[food],"원입니다.")
else:
    print("주문불가")

먹고싶으 메뉴를 입력해주세요:짜장
3000 원입니다.

# 반복문

In [ ]:
#while : 조건이 True 인 동안 계속 실행

i = 0
while i< 6:
    print(i)
    i = i +1        # i += 1

0
1
2
3
4
5

In [ ]:
i = 5
while i >= 0: 
    print(i)
    i -= 1

5
4
3
2
1
0

In [ ]:
#break

i = 0
while True:
    print(i)
    i = i + 1

    if i>=3:
        print("if문 동작")
        break
print("반복문종료")

0
1
2
if문 동작
반복문종료

In [ ]:
#continue

i = 0
while i<10:
    i = i + 1

    if i % 2 == 0:
        continue
    print(i)
    
print("반복문종료")

1
3
5
7
9
반복문종료

In [ ]:
# for 변수 in 시퀀스 : 

for x in [10,20,30]:
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
for i in range(10):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
# range(시작,종료,스텝)

for i in range(0,100,10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [ ]:
for x in range(3,31,3):
    print(x)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for x in range(2,31,2):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
sum = 0

for i in range(1,101):
    sum += i

print(sum)

5050

In [ ]:
multi = 1
for i in range(1,11):
    multi *= i

print(multi)

3628800

연습문제

In [ ]:
for i in range(5):
    print('*')

*
*
*
*
*

In [ ]:
for i in range(5):
    print("*",end="")

*****

In [ ]:
for i in range(5):
    for j in range(5):
        print("*",end="")   
    print("*")

******
******
******
******
******

In [ ]:
#풀이
for x in range(5):
    print("*"*5)

*****
*****
*****
*****
*****

In [ ]:
for i in range(5):
    for j in range(5):
        if j < i:
            print('*',end="")
    print("*")

*
**
***
****
*****

In [ ]:
for x in range(5):
    print("*" * (x + 1))

*
**
***
****
*****

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
x = int(input("숫자입력"))
for i in range(x):
    print(i+1)

숫자입력5
1
2
3
4
5

In [ ]:
x = int(input("숫자입력"))
for i in range(x):
    print(x-i)

숫자입력5
5
4
3
2
1

In [ ]:
x = int(input("숫자입력"))
for i in range(x,0,-1):
    print(i)

숫자입력4
4
3
2
1

In [ ]:
#줄바꿈 출력
x = 30
for i in range(x):
    print(i,end="")
    if i%10 == 0:
        print()

0
12345678910
11121314151617181920
212223242526272829

In [ ]:
x = int(input("숫자를 입력하세요: "))
for i in range(x):
    if i%10 ==0 :
        print()
    print(i+1,end="\t")

숫자를 입력하세요: 49

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49

In [ ]:
from IPython.utils.path import random
#로또 번호 생성
# random.sample(범위,개수)

lotto = random.sample(range(1,46),6)
print(lotto)

ranNum = random.sample(range(1,51),3)
print(ranNum)

[21, 10, 12, 34, 18, 22]
[36, 33, 44]

In [ ]:
num = int(input("로또 몇개살건가?"))

for i in range(num):
    lotto = random.sample(range(1,46),6)
    #print(lotto.sort())
    print(sorted(lotto))

로또 몇개살건가?4
[1, 4, 9, 23, 26, 40]
[2, 7, 12, 20, 27, 44]
[1, 3, 4, 7, 29, 39]
[3, 9, 10, 16, 34, 35]

In [ ]:
small = int(input("작은수 입력"))
big = int(input("큰수 입력"))
middle = int(input("중간 입력"))

if small > middle or big < middle:
    print('범위를 벗어났습니다.')
else:
    small_diff = middle - small
    big_diff = big-middle
    if small_diff < big_diff:
        print(small,'과 가깝습니다.')
    elif big_diff < small_diff:
        print(big,'과 가깝습니다.')
    else:
        print("중간값입니다.")

작은수 입력3
큰수 입력30
중간 입력6
3 과 가깝습니다.